<!DOCTYPE html>
<html>
<head>
	<title>Rink Calendar</title>
	<meta name="viewport" content="initial-scale=1, maximum-scale=1">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<link rel="stylesheet" href="/static/css/main.css">
	<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.4.0/moment.min.js"></script>
	<script src="/static/js/rinkCalendar.js"></script>
</head>

<body>

	<h2 class="text-center" id="month-header"></h2>
	<table id="rinkCal">
		<tr>
			<th>SUN</th>
			<th>MON</th>
			<th>TUE</th>
			<th>WED</th>
			<th>THUR</th>
			<th>FRI</th>
			<th>SAT</th>
		</tr>


	</table>

	<div id="btnDiv" class="text-center">
		<button id="back" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
		<button id="currentMonth" class="btn btn-primary">CURRENT MONTH</button>
		<button id="fwd" class="btn btn-primary"><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
	</div>	


	<div id="eventDiv">
		<div id="eventdrag1" class="cellData" draggable="true" ondragstart="drag(event)" style="padding:3px;display:inline;background:#ffff00">Free Skate 7p-9p</div>
		<div id="eventdrag2" class="cellData" draggable="true" ondragstart="drag(event)" style="padding:3px;display:inline;background:#99ff87">Skate & Shoot 12p-2p</div>
	</div>









</body>
</html>
