/** {
	border: 1px solid red;	
}*/

table {
	margin-left: auto;
	margin-right: auto;
}

#cal-top {
	font-family: 'Russo One', sans-serif;
	color: rgba(73,155,234,1);
	margin-left: auto;
	margin-right: auto;
	margin-bottom:10px;
	max-width: 1050px;
	height:60px;
}

#month-header {
	margin: 5px 15px 0px 0px;
	float:right;
	font-size: 35px;
}

#event-header {
	width:150px;
	float:right;
}

.date-num {
	font-family: 'Russo One', sans-serif;
	padding: 5px 0px 18px 5px;
	height: 20%;
	font-size: 70%;
	background: rgba(73,155,234,1);
	color: white;
}

th {
	color: rgba(73,155,234,1);
}

.cell-shell {
	height: 150px;
	width: 150px;
	border: solid .5px #e2e0e0;
	vertical-align: top;
}

.cell-data {
	height: 20px;
	width: 150px;
	font-size: 12px;
	border-radius: 4px;
	padding: 4px;
	box-shadow: 1px 1px 5px #aaaaaa;
	color:white;
}

#cycle-holder {
	display: inline-block;
	float: left;
	margin: 3px 10px 0px 10px;
}

#event-div {
	margin: 40px 0px 0px 20px;
	border: 1px solid #e0e0e0;
	border-radius:4px;
	background: #e0e0e0;
	width: 152px;
	height: 500px;
	float:right;
}

.form-price {
	width: 50%;
}

#toggle-sort {
	background-color: white;
	border: none;
	outline: none;
}

.time-display {
	font-size: 8px;
	float: right;
	vertical-align: center;
}

.event-wrap {
    position: relative;
    display: inline-block;
    font-size: 0;
}

.event-wrap:hover {
	opacity: .5;
}

.event-wrap .close {
    position: absolute;
    top: 2px;
    right: 2px;
    z-index: 100;
    padding: 2px 2px 2px;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    opacity: 0;
    text-align: center;
    font-size: 22px;
    line-height: 10px;
    border-radius: 50%;
}

.event-wrap .ed {
    position: absolute;
    top: 2px;
    right: 20px;
    z-index: 100;
    padding: 2px 2px 2px;
    color: #000;
    cursor: pointer;
    opacity: 0;
    text-align: center;
    font-size: 15px;
    line-height: 10px;
    border-radius: 50%;
}
.event-wrap:hover .close {
    opacity: 1;
}

.event-wrap:hover .ed {
    opacity: 1;
}

.close:hover {
	color: red;
}

.ed:hover {
	color: red;
}

.btn-cycle {
	color: rgba(73,155,234,1);
	background: white;
	font-size: 25px;
}

.btn-cycle:hover {
	color:#f29326;
}

.btn-cycle:focus {
	outline:none; 
}

.btn-cycle:active {
	color: #e2edff;
}

.btn:focus,.btn:active {
	-webkit-box-shadow: none;
}
