table {
	margin-left: auto;
	margin-right: auto;
}

.cellShell {
	height: 100px;
	width: 100px;
	border: solid .5px #e2e0e0;
	vertical-align: top;
}

.dateNum {
	height: 20%;
	font-size: 70%;
	background: rgba(73,155,234,1);
	color: white;
}

.cellData {
	height: 20%;
	font-size: 80%;
}

#btnDiv {
	margin-top: 50px
}

#eventDiv {
	width: 50%;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
}