body {
	font-family: 'Russo One', sans-serif;
}

table {
	margin-left: auto;
	margin-right: auto;
}

#month-header {
	color: rgba(73,155,234,1);
	margin: 40px 0px 25px 0px;
}

th {
	color: rgba(73,155,234,1);
}

.cellShell {
	height: 100px;
	width: 100px;
	border: solid .5px #e2e0e0;
	vertical-align: top;
}

.dateNum {
	padding: 5px 0px 18px 5px;
	height: 20%;
	font-size: 70%;
	background: rgba(73,155,234,1);
	color: white;
}

.cellData {
	height: 20%;
	width: 100%;
	font-size: 40%;
}

#btnDiv {
	margin-top: 50px
}

#eventDiv {
	width: 50%;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
}