body {
	
}

table {
	margin-left: auto;
	margin-right: auto;
}

#month-header {
	font-family: 'Russo One', sans-serif;
	color: rgba(73,155,234,1);
	margin: 40px 0px 25px 0px;
}

.dateNum {
	font-family: 'Russo One', sans-serif;
}

th {
	color: rgba(73,155,234,1);
}

.cellShell {
	height: 150px;
	width: 150px;
	border: solid .5px #e2e0e0;
	vertical-align: top;
}

.dateNum {
	padding: 5px 0px 18px 5px;
	height: 20%;
	font-size: 70%;
	background: rgba(73,155,234,1);
	color: white;
}

.cellData {
	height: 20px;
	width: 150px;
	font-size: 12px;
	/*border-radius: 4px;*/
	padding: 4px;
	box-shadow: 1px 1px 5px #aaaaaa;
	color:white;
}

#btnDiv {
	margin-top: 50px
}

#eventDiv {
	width: 50%;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
}

.form-price {
	width: 50%;
}

#toggle-sort {
	background-color: white;
	border: none;
	outline: none;
}

#eventDiv {
	height: 400px;
	width: 400px;
}

.time-display {
	font-size: 8px;
	float: right;
	vertical-align: center;
}